@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

/* font-family: 'Grape Nuts', cursive; */

:root {
    /* Colors */
    --primary-clr: #000;
    --secondary-clr: #fff;

    /* Spaces */
    --biggest-plus-gap: calc(8rem + 5vw);
    --biggest-gap: calc(5rem + 5vw);
    --large-plus-gap: calc(5rem + 2.5vw);
    --large-gap: calc(3rem + 2.5vw);
    --medium-gap: calc(1rem + 3vw);
    --small-gap: calc(1rem + 1vw);
    --smallest-gap: calc(0.5rem + 0.5vw);
    --gap: calc(1rem + 2vw);

    /* Times */
    ---main-trans-time: 0.3s;

    /* Fonts */
    --medium-font-size: clamp(2rem, 2rem + 2.5vw, 4rem);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Grape Nuts', cursive;
    width: 100%;
    min-height: 100vh;
}

h1, h2 {
    font-size: clamp(4rem, 2rem + 4vw, 10rem);
    text-align: center;
}

a {
    font-size: clamp(2.5rem, 3rem + 2.5vw, 6rem);
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    font-family: inherit;
}

/* REUSABLE CLASSES */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    gap: var(--large-gap);
}

/*------------------*/

#main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--gap);
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
    position: relative;
    overflow: hidden;
}

/* MENU PART */

#main-menu {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    background-image: linear-gradient(to bottom, rgba(97, 29, 29, 0.579), rgb(97, 29, 29), rgba(97, 29, 29, 0.942), rgba(97, 29, 29, 0.807), rgba(97, 29, 29, 0.402));   
    min-height: 100vh;
    width: 100%;
    transform: scale(0);
    transition: 2s;
}

#main-menu .container {
    padding-bottom: var(--biggest-gap);
}

.main-menu-opt {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: var(--large-gap);
    width: 100%;
}

.menu-option-btn {
    width: 100%;
    padding: 0 var(--gap);
    text-align: center;
    transition: 0.3s;
}

.menu-option-btn:hover {
    cursor: pointer;
    background-color: #000;
}

/*-----------*/

/* BOARD PART */

#game-board {
    opacity: 0;
    transition: 2s;
}

#stage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--smallest-gap);
    background-color: var(--secondary-clr);
}

.playArea {
    background-color: var(--primary-clr);
    width: calc(8rem + 5vw);
    height: calc(8rem + 5vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.playArea:hover {
    cursor: pointer;
}

.playAreaDisabled {
    background-color: var(--primary-clr);
    width: calc(5rem + 5vw);
    height: calc(5rem + 5vw);
}

#endGameForced {
    position: relative;
}

#endGameForced::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    ;
    width: 0;
    height: 3px;
    background-color: var(--secondary-clr);
    transition: 0.3s;
}

#endGameForced:hover::after {
    width: 100%;
    left: 0;
}

/*-----------*/

#gameOver {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(97, 29, 29, 0.942), rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-200%);
    transition: 1s;
    z-index: 3;
}

#gameOver .container {
    gap: var(--large-gap);
    padding-bottom: var(--large-gap);
}

.playAgainDiv {
    width: fit-content;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.playAgainDiv:hover {
    cursor: pointer;
    background-color: #000;
}

.hidden-span-before {
    font-size: clamp(2.5rem, 2rem + 2.5vw, 6rem);
    position: absolute;
    z-index: 1;
}

.fa-solid.fa-arrow-rotate-left {
    position: relative;
    top: 5px;
}

.playAgainBtn {
    padding: var(--small-gap) var(--gap);
    background-image: linear-gradient(to top right, #1fa653, #116732);
    position: relative;
    right: 100%;
    transition: 0.5s;
}

.hidden-span-after {
    visibility: hidden;
}

.back-to-menu-btn {
    padding: 0 var(--gap);
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.back-to-menu-btn:hover {
    cursor: pointer;
    background-color: #000;
}

.show-board-btn {
    color: var(--secondary-clr);
    font-size: var(--medium-font-size);
    position: absolute;
    bottom: 20px;
    transition: var(---main-trans-time);
    padding: 0 10px;
}

.show-board-btn img {
    width: 3rem;
    transition: var(---main-trans-time);
}

.show-board-btn img:hover {
    transform: scale(1.2);
    cursor: pointer;
}
